.info {
    margin-top: 10px;
}

.travel-aside{
    margin-right: 20px;
    width: 185px;
    float: left;
}

.bottom-border{
    border-bottom: 1px solid #c00;

}

.travel-aside li.aside-current{
    width: 100%;
    height: 74px;
    line-height: 74px; 
    text-align: center;
    background-color: rgb(255, 230, 230);
}

.travel-aside li{
    font-size: 18px;
    width: 100%;
    height: 74px;
    line-height: 74px; 
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.travel-aside li:hover{
    background-color: rgb(255, 230, 230);
    font-size: 19px;
}

.travel-aside li:active{
    background-color: rgb(255, 230, 230);
    font-size: 17px; 
}

.travel-content{
    width: calc(100% - 185px - 30px);
    float: left; 
}

.travel-content-head{
    position: relative; 
    padding-left: 20px; 
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.travel-content-head::before{
    content: "";
    display: block;
    height: 21px;
    width: 10px; 
    background-color: #c00;
    position: absolute; /* 设置绝对定位 */
    top: 0; /* 顶部对齐 */
    left: 0; /* 左侧对齐 */
}

.scenic-spot {
  display: flex;
  align-items: center;
  border-bottom: 1px dashed #ccc;
  padding: 10px 0;
  transition: all 0.3s ease;
}

.scenic-spot h2 {
  transition: all 0.5s ease;
}

.scenic-spot:hover {
  background-color: #f9f9f9;
}

.scenic-spot:hover h2 {
  color: #c00;
}

.scenic-spot img {
  width: 200px;
  height: auto;
  margin-right: 20px;
}

.scenic-spot-info {
  flex: 1;
}



.scenic-spot-info h2 {
  margin-top: 0;
}

.scenic-spot-info p {
  margin: 5px 0;
  color: #666;
}

.foot{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.travel-content-foot{
  width: 40%;
  text-align: center;
  display: flex;
  margin: 20px auto 0;
  justify-content: space-around;
  color: #c00;
}

.travel-content-foot a{
  font-size: 20px;
  transition: all 0.4s ease;
}

.travel-content-foot a:hover{
  color: #c00;
  transform: scale(1.1);
}